
body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ---HEADER-top--- */

.main-header {
  padding-bottom: 60px;

  background: #f3f7f9;;
}

.header-top-wrapper {
  width: 100%;
  margin-bottom: 45px;

  background: #293449;
}

.header-top {
  display: flex;
  justify-content: flex-start;
  width: 940px;
  margin: 0 auto;

  line-height: 18px;

  background: #293449;
}

.main-logo {
  margin-right: 10px;
}

.search-icon {
  background: #293449;
  border: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.search-icon:active,
.search-icon:focus,
.search-icon:hover {
  background: #ffffff;
}

.search-icon::placeholder {
  color: #ffffff;
}

.search-form:hover,
.shop-block li:hover {
  background: #212a3a;
}

.shop-block {
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style-type: none;
  color: #ffffff;
}

.shop-block li:active {
  color: #babbbd;

  background: #161d29;
}

.shop-block li:last-child {
  background: #63a63e;
}

.shop-block li:last-child:hover {
  background: #5fbb2d;
}

.shop-block li:last-child:active {
  color: #b6c8ae;

  background: #518534;
}

/* ---HEADER-address-profile--- */
.container-header {
  display: flex;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.desc {
  width: 300px;
  margin-right: 10px;
  padding-right: 40px;
  padding-left: 40px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.contacts-header {
  width: 320px;
  margin-right: 10px;
}

.number-phone-header {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.address-header {
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.profile-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 300px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style-type: none;
  font-size: 21px;
  line-height: 21px;
}

.profile-list-header {
  padding: 10px 24px;

  background: #ffffff;
}

.login-link {
  margin: 0;
}

.profile-list-header:first-child {
  margin-right: 10px;
}

.profile-list-header:hover {
  color: #ee3643;
}

.profile-list-header:active {
  color: #cacaca;
}

/* ---HEADER-CATALOG-profile-list--- */

.user-list {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  list-style-type: none;

  background: #ffffff;
}

.user-list:active {
  color: #c8cdd3;
}

.user-name {
  width: 300px;
  margin: 0;
}

.user-menu {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style-type: none;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-menu li:first-child {
  margin-right: 30px;
  margin-left: 18px;
}



.user-menu li:hover {
  color: #ee3643;
}

.user-menu li:active {
  color: #c8cdd3;
}

/* ---HEADER-navigation--- */

.navigation-header {
  width: 940px;
  margin: 0 auto;

  line-height: 17px;

  background: #32425c;
  border-bottom: 5px solid #293449;
}

.site-navigation-header {
  display: flex;
  justify-content: space-around;

  list-style-type: none;
  color: #ffffff;
}


.site-navigation-header li:hover {
  background: #293449;
}

.site-navigation-header li:active {
  color: #93969c;

  background: #1d2739;
}

/* ---MAIN-CATALOG--- */
.container {
  width: 940px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 86px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.container-catalog {
  width: 940px;
  margin: 0 auto;
  margin-top: 23px;
  margin-bottom: 86px;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.intro {
  padding-top: 33px;
  padding-bottom: 36px;
  padding-left: 30px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;

  background: #f2f6f8;
}

/* ---MAIN-CATALOG-filters-block--- */
.container-catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
  margin-right: 20px;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.title-blocks {
  font: inherit;

  background: #f7f3ec;
}

.item-filters {
  border: none;
}

.title-filters {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filters-list {
  list-style-type: none;
}

.brands-item:checked + .brands-filters {
  color: #999999;
}

.power-supply:checked + .supply {
  color: #999999;
}

.filters .button-filters {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  background: #ffffff;
  border: 1px solid #e5e5e5;
}
/* ---MAIN-CATALOG-catalog--- */
.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-bottom: 20px;

  border: 1px solid #e5e5e5;
}

.catalog-item-image {
  order: -1;
}

.title-item {
  margin-left: 32px;

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.catalog-item-price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-old-price {
  margin-bottom: 13px;

  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}

.item-new-price {
  position: relative;

  margin-right: 20px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 37px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background: #ee3643;
  border-radius: 1px;
}

.item-new-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;

  border: 20px solid #ee3643;
  border-top-color: transparent;
  border-right-width: 0;
  border-bottom-color: transparent;
  border-left-color: #ee3643;
}


/* ---MAIN-CATALOG-catalog-popup--- */
.buttons-item-popup {
  display: none;
}

.buttons-item-popup .button-green {
  background: #63a63e;
  border-bottom: 3px solid #367315;
}

.button-green:hover {
  background: #5fbb2d;
}

.button-green:active {
  background: #518534;
}

.buttons-item-popup .button-item-bookmarks {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;

  border: 3px solid #63a63e;
  border-radius: 3px;
}

.button-item-bookmarks:hover {
  border: 3px solid #32425c;
}

.button-item-bookmarks:active {
  color: #c1c6ce;

  border: 3px solid #c1c6ce;
}

/* ---MAIN-about-us--- */


.about-us {
  display: flex;
  justify-content: space-between;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background: #ffffff;
}

.about-us-info {
  width: 540px;
  margin-right: 100px;
}

.about-us-title {
  font-size: 30px;
  line-height: 30px;
}

.about-us-list {
  font-family: "Cuprum", "Arial", sans-serif;
  list-style-type: none;
  font-size: 18px;
  line-height: 20px;
}

.about-us-button,
.button-red {
  background: #ee3643;
}

.about-us-contact {
  width: 300px;
}

/* ---BUTTON--- */

.button,
.about-us-button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  border: none;
  border-radius: 3px;
}

.button-red:hover,
.about-us-button:hover {
  background: #ca2c37;
}

.button-red:hover,
.about-us-button:active {
  background: #ba2732;
}

/* ---FOOTER--- */

.main-footer {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background: #32425c;
}

.main-footer-wrapper {
  width: 100%;

  background: #32425c;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.logo-contacts {
  width: 380px;
  margin-right: 10px;
}

.address-footer {
  margin-top: 25px;

  font-style: normal;
  white-space: nowrap;
}

.navigation-footer {
  width: 550px;
}

.site-navigation-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  list-style-type: none;
}

.site-navigation-footer li:hover {
  text-decoration: underline;
}

.site-navigation-footer li:active {
  color: #8a939f;
}

.navigation-features-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-left: 25px;

  list-style-type: none;
  color: #ffd180;
}

.navigation-features-footer li:hover {
  text-decoration: underline;
}

.navigation-features-footer li:active {
  color: #ad956f;
}

.footer-copyright-wrapper {
  width: 100%;

  background: #293449;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 18px;

  background: #293449;
}

.copyright {
  width: 300px;
  margin-right: 10px;
}

.footer-social {
  width: 320px;
  margin-right: 10px;

  list-style-type: none;
}

.footer-copyright-link {
  display: flex;
  width: 300px;
}

.copyright-link:nth-child(2) {
  margin-right: 10px;
  margin-left: 50px;
}

.link-footer {
  color: #ffd180;
}

.link-footer:hover {
  text-decoration: underline;
}

.link-footer:active {
  color: #ee3643;
}

/* ---MODAL--- */

.modal {
  display: none;
}
