body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-family: "Cuprum","Arial",sans-serif;
  font-size: 17px;
}a {
  color: inherit;
  text-decoration: none;
}img {
  max-width: 100%;
  height: auto;
}.visually-hidden:not(:focus):not(:active),
input[type=checkbox].visually-hidden,
input[type=radio].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
}.main-header {
  margin-bottom: 58px;
  padding-bottom: 60px;

  background: #f3f7f9;
}.header-top-wrapper {
  width: 100%;
  margin-bottom: 47px;

  background: #293449;
}.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}.header-top-wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  line-height: 18px;

  background: #293449;
}.main-logo-header {
  margin-bottom: -20px;
}.main-logo-header:hover,
.main-logo-header:focus {
  opacity: 0.9;
}.main-logo-header:active {
  opacity: 0.8;
}.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  width: 266px;
}.search-icon {
  width: 48px;
  height: 42px;

  background-color: #293449;
}.search-icon svg {
  padding-top: 12px;
  padding-left: 17px;
}.search {
  width: 218px;

  background-color: #293449;
  border: 0;
  outline: 0;
}.search-form:hover path {
  fill: #ffffff;
}.search:hover,
.search:hover + .search-icon {
  background-color: #212a3a;
}.search:focus,
.search:focus + .search-icon,
.search:hover:focus,
.search:hover:focus + .search-icon {
  background-color: #ffffff;
}.search:focus + .search-icon path {
  fill: #ee3643;
}.search::-webkit-input-placeholder {
  color: #ffffff;
}.search:-ms-input-placeholder {
  color: #ffffff;
}.search::-ms-input-placeholder {
  color: #ffffff;
}.search::placeholder {
  color: #ffffff;

  opacity: 1;
}.shop-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style-type: none;
  color: #ffffff;
}.shop-block a {
  display: block;
  max-width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
}.bookmark {
  position: relative;

  padding-right: 34px;
  padding-left: 44px;
}.cart {
  position: relative;

  padding-right: 30px;
  padding-left: 43px;
}.checkout {
  width: 150px;

  text-align: center;

  background-color: #63a63e;
}.shop-block a:hover,
.bookmark:focus,
.cart:focus {
  background-color: #212a3a;
}.shop-block a:active {
  color: #babbbd;

  background-color: #161d29;
}.shop-block .checkout:hover,
.checkout:focus {
  background-color: #5fbb2d;
}.shop-block .checkout:active {
  color: #b6c8ae;

  background-color: #518534;
}.shop-block .cart-active,
.shop-block .cart-active:hover,
.shop-block .cart-active:active,
.shop-block .cart-active:focus {
  background-color: #ee3643;
}.bookmark::before {
  content: "";
  position: absolute;
  left: 16px;

  width: 15px;
  height: 15px;

  background: url(../img/icon/bookmark.svg) no-repeat 0 0;
  opacity: 0.3;
}.cart::before {
  content: "";
  position: absolute;
  left: 12px;

  width: 15px;
  height: 15px;

  background: url(../img/icon/cart.svg) no-repeat 0 0;
  opacity: 0.3;
}.bookmark:hover::before,
.cart:hover::before,
.bookmark:focus::before,
.cart:focus::before {
  opacity: 1;
}.bookmark:active::before,
.cart:active::before {
  opacity: 0.5;
}.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}.page-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 245px;
  margin: 0;
  margin-right: 75px;
  padding-top: 2px;
  padding-left: 53px;

  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}.contacts-header {
  width: 310px;
  margin-right: 10px;
}.contacts-header a {
  position: relative;

  display: block;
  margin-right: 40px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 72px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}.contacts-header a::before {
  content: "";
  position: absolute;
  left: 13px;

  width: 19px;
  height: 19px;

  background: url(../img/icon/phone.svg);
}.contacts-header address {
  margin-top: 4px;
  margin-left: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}.profile-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 300px;
  margin: 0;
  padding: 0;

  list-style-type: none;
  font-size: 21px;
  line-height: 21px;
}.button-check-in {
  display: block;
  padding: 11px 24px;

  background: #ffffff;
}.button-login-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 120px;
  margin-right: 10px;
  padding-top: 11px;
  padding-bottom: 11px;

  background: #ffffff;
}.button-login-link svg {
  margin-right: 13px;
  margin-left: 13px;
}.button-login-link p {
  margin: 0;
}.button-login-link:hover path,
.button-login-link:focus path {
  fill: #32425c;
}.profile-list a:hover,
.profile-list a:focus {
  color: #ee3643;
}.profile-list a:active {
  color: #cacaca;
}.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 6px;
  padding: 0;

  list-style-type: none;

  background: #ffffff;
}.user-list:active {
  color: #c8cdd3;
}.icon-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 258px;
  padding-top: 12px;
  padding-bottom: 12px;
}.icon-user svg {
  padding-left: 14px;
}.user-name {
  margin: 0;
  padding-left: 14px;

  font-size: 21px;
  line-height: 21px;
}.icon-user:hover path,
.icon-user:focus path {
  fill: #32425c;
}.icon-user:active path {
  fill: #c5c5c5;
}.icon-logout {
  display: block;
  padding-top: 13px;
  padding-right: 10px;
  padding-bottom: 11px;
  padding-left: 11px;
}.icon-logout:hover path,
.icon-logout:focus path {
  fill: #32425c;
}.icon-logout:active path {
  fill: #c5c5c5;
}.user-menu {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style-type: none;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}.user-menu::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 107px;

  width: 2px;
  height: 2px;

  background-color: #32425c;
  border: 1px solid #32425c;
  border-radius: 50%;
}.user-menu li:first-child {
  margin-right: 32px;
  margin-left: 18px;
}.user-menu a:hover,
.user-menu a:focus {
  color: #ee3643;
}.user-menu a:active {
  color: #c8cdd3;
}.navigation-header {
  line-height: 17px;

  background: #32425c;
  border-bottom: 5px solid #293449;
}.site-navigation-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  padding-left: 25px;

  list-style-type: none;
  color: #ffffff;
}.site-navigation-header a {
  display: block;
  padding: 19px 30px;
}.site-navigation-header a:hover,
.site-navigation-header a:focus {
  background: #293449;
}.site-navigation-header a:active {
  color: #93969c;

  background-color: #1d2739;
}.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 32px;
}.offer-left-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 620px;
  margin-right: 20px;
}.offer-right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
}.title-offer {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;
  padding-top: 21px;
  padding-left: 22px;

  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}.main-content .button-offer {
  display: block;
  width: 95px;
  margin-bottom: 22px;
  margin-left: 25px;
  padding-top: 10px;
  padding-bottom: 9px;

  background-color: rgba(0,0,0,0.1);
}.main-content .button-offer:hover,
.main-content .button-offer:focus {
  background-color: rgba(0,0,0,0.3);
}.main-content .button-offer:active {
  background-color: rgba(0,0,0,0.5);
}.offer {
  position: relative;

  width: 300px;
  margin-bottom: 20px;
}.materials {
  background-color: #ffbf47;
}.materials::before {
  content: "";
  position: absolute;
  top: 32px;
  right: 9px;

  width: 78px;
  height: 76px;

  background: url(../img/icon/materials.svg) no-repeat 0 0;
}.tool {
  background-color: #3bbce3;
}.tool::before {
  content: "";
  position: absolute;
  top: 34px;
  right: 24px;

  width: 78px;
  height: 76px;

  background: url(../img/icon/tool.svg) no-repeat 0 0;
}.slides {
  position: relative;

  width: 620px;
  height: 266px;
  margin-bottom: 20px;
}.arrow-prew label {
  position: absolute;
  top: 113px;
  left: 25px;

  width: 22px;
  height: 40px;

  background: url(../img/icon/left.svg) no-repeat 0 0;
  visibility: hidden;
  cursor: pointer;
}.arrow-next label {
  position: absolute;
  top: 113px;
  right: 20px;

  width: 22px;
  height: 40px;

  background: url(../img/icon/right.svg) no-repeat 0 0;
  visibility: hidden;
  cursor: pointer;
}.arrow-next label:focus,
.arrow-prew label:focus {
  opacity: 0.7;
}.slide-1 {
  position: absolute;

  width: 100%;
  height: 100%;

  background: #6a4640 url(../img/slider-1.jpg) no-repeat 0 0;
  visibility: hidden;
}.slide-2 {
  position: absolute;

  width: 100%;
  height: 100%;

  background: #6a4640 url(../img/slider-2.jpg) no-repeat 0 0;
  visibility: hidden;
}.slide-img:nth-child(1):checked ~ .slide-1,
.slide-img:nth-child(2):checked ~ .slide-2 {
  visibility: visible;
}.slide-img:nth-child(1):checked ~ .arrow-next label:nth-child(2),
.slide-img:nth-child(2):checked ~ .arrow-next label:nth-child(1) {
  visibility: visible;
}.slide-img:nth-child(1):checked ~ .arrow-prew label:nth-child(2),
.slide-img:nth-child(2):checked ~ .arrow-prew label:nth-child(1) {
  visibility: visible;
}.switchers {
  position: absolute;
  bottom: 37px;
  left: 295px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
}.switcher {
  width: 10px;
  height: 10px;
  margin-right: 10px;

  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}.slide-img:nth-child(1):checked ~ .switchers label:nth-child(1),
.slide-img:nth-child(2):checked ~ .switchers label:nth-child(2) {
  width: 6px;
  height: 6px;

  background-color: #ee3643;
  border: 2px solid #ffffff;
  border-radius: 50%;
}.title-slides {
  margin: 0;
  margin-bottom: 2px;
  padding-top: 23px;
  padding-left: 24px;

  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
}.slides p {
  margin: 0;
  margin-bottom: 121px;
  padding-left: 25px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}.button-catalog {
  display: block;
  width: 155px;
  margin-left: 27px;
}.technique {
  background-color: #dc91d8;
}.technique::before {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;

  width: 78px;
  height: 76px;

  background: url(../img/icon/technique.svg) no-repeat 0 0;
}.discounts {
  background-color: #8ed78f;
}.discounts::before {
  content: "";
  position: absolute;
  top: 27px;
  right: 26px;

  width: 78px;
  height: 76px;

  background: url(../img/icon/discounts.svg) no-repeat 0 0;
}.delivery {
  background-color: #ffc047;
}.delivery::before {
  content: "";
  position: absolute;
  top: 33px;
  right: 30px;

  width: 78px;
  height: 76px;

  background: url(../img/icon/delivery.svg) no-repeat 0 0;
}.offer span:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  background: url(../img/new-flag.png) no-repeat 0 0;
}.popular-goods {
  width: 100%;
  margin-bottom: 1px;
}.title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 21px;

  background: #f9f5f0;
}.popular-title {
  width: 630px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 28px;

  font-family: "Cuprum","Arial",sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}.popular-button {
  display: block;
  width: 213px;
  margin-right: 23px;
}.catalog-list-popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  font-family: "PT Sans","Arial",sans-serif;
  list-style-type: none;
}.catalog-list-popular .catalog-item:nth-child(3n) {
  margin-right: 20px;
}.catalog-list-popular .catalog-item:nth-child(4n) {
  margin-right: 0;
}.popular-manufacturers {
  width: 100%;
  margin-bottom: 66px;
}.popular-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style-type: none;
}.popular-brands li {
  position: relative;

  width: 218px;
  height: 142px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #e5e5e5;
}.popular-brands li:nth-child(4n) {
  margin-right: 0;
}.popular-brands a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}.popular-brands a:hover,
.popular-brands a:focus {
  -webkit-box-shadow: 0 10px 25px 0 rgba(0,0,0,0.5);
          box-shadow: 0 10px 25px 0 rgba(0,0,0,0.5);
}.popular-brands a:active {
  opacity: 0.3;
}.service {
  width: 100%;
  margin-bottom: 56px;

  font-family: "PT Sans","Arial",sans-serif;
  font-size: 13px;
  line-height: 24px;

  background-color: #f4f8f9;
}.service-title-wrapper {
  width: 400px;
  margin-bottom: 69px;
}.service-title {
  margin: 0;
  margin-bottom: 25px;
  padding-top: 66px;

  font-family: "Cuprum","Arial",sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}.service-title-wrapper p {
  margin: 0;
}.service-offer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-bottom: 98px;
}.service-offer-tab {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 240px;
  margin: 0;
  margin-right: 80px;
  padding: 0;

  font-family: "Cuprum","Arial",sans-serif;
  list-style-type: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
}.service-offer-tab::before {
  content: "";
  position: absolute;
  top: -41px;
  right: 0;
  z-index: 1;

  width: 10px;
  height: 272px;

  background: url(../img/slide-tab-shadow.png) no-repeat 0 0;
}.service-offer-tab label {
  position: relative;

  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 22px;

  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  cursor: pointer;
}.service-slide-tab {
  position: relative;

  width: 620px;

  visibility: hidden;
}.service-slide-tab div {
  position: absolute;
}.service-slide-tab p {
  margin: 0;
  margin-bottom: 26px;
}.title-slide-tab {
  margin: 0;
  margin-bottom: 25px;

  font-family: "Cuprum","Arial",sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}.delivery-slide-tab {
  width: 275px;
}.delivery-slide-tab::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 152px;
  z-index: -1;

  width: 468px;
  height: 261px;

  background: url(../img/delivery.png) no-repeat 0 0;
}.warranty-slide-tab {
  width: 378px;
}.warranty-slide-tab::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 239px;
  z-index: -1;

  width: 389px;
  height: 283px;

  background: url(../img/warranty.png) no-repeat 0 0;
}.credit-slide-tab {
  width: 300px;
}.credit-button {
  display: block;
  width: 155px;
}.credit-slide-tab::before {
  content: "";
  position: absolute;
  top: 0;
  left: 164px;
  z-index: -1;

  width: 468px;
  height: 285px;

  background: url(../img/credit.png) no-repeat 0 0;
}.service-tab:nth-child(1):checked ~ .service-slide-tab .delivery-slide-tab,
.service-tab:nth-child(2):checked ~ .service-slide-tab .warranty-slide-tab,
.service-tab:nth-child(3):checked ~ .service-slide-tab .credit-slide-tab {
  position: relative;
  z-index: 0;

  visibility: visible;
}.service-tab:nth-child(1):checked ~ .service-offer-tab label:nth-child(1),
.service-tab:nth-child(2):checked ~ .service-offer-tab label:nth-child(2),
.service-tab:nth-child(3):checked ~ .service-offer-tab label:nth-child(3),
.service-tab:nth-child(1):checked:hover ~ .service-offer-tab label:nth-child(1),
.service-tab:nth-child(2):checked:hover ~ .service-offer-tab label:nth-child(2),
.service-tab:nth-child(3):checked:hover ~ .service-offer-tab label:nth-child(3) {
  color: #32425c;

  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}.service-offer-tab label:hover,
.service-offer-tab label:focus {
  background-color: #293449;
}.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 85px;

  font-family: "PT Sans","Arial",sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;

  background: #ffffff;
}.about-us-info {
  width: 630px;
  margin-right: 10px;
  margin-bottom: 0;
}.about-us-title {
  font-family: "Cuprum","Arial",sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}.about-us-text {
  margin-bottom: 25px;
  padding-right: 110px;
}.about-us-text + .about-us-text {
  margin-bottom: 21px;
}.about-us-contact .about-us-text {
  margin-bottom: 32px;
}.about-us-list {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  font-family: "Cuprum","Arial",sans-serif;
  list-style-type: none;
  font-size: 18px;
  line-height: 20px;
}.item-delivery {
  position: relative;

  padding-bottom: 20px;
  padding-left: 36px;
}.item-delivery::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;

  width: 25px;
  height: 2px;

  background: #ee3643;
}.item-delivery:last-child {
  margin-bottom: 0;
}.about-us-contact {
  width: 300px;
  margin-bottom: 0;
}.about-us-contact img {
  width: 300px;
  height: 158px;
  margin-bottom: 33px;
}.about-us-button {
  display: block;
  width: 180px;
}.message-button {
  display: block;
  width: 260px;
}.map-popup {
  position: relative;

  width: 300px;
  height: 158px;
  padding: 0;

  border: 0;
  cursor: pointer;
}.container-catalog {
  margin-top: -37px;
  margin-bottom: 60px;

  font-family: "PT Sans","Arial",sans-serif;
  font-size: 13px;
  line-height: 18px;
}.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  margin-left: 16px;
  padding: 0;

  list-style-type: none;
  text-transform: uppercase;
}.breadcrumbs li {
  position: relative;

  margin-right: 39px;
}.breadcrumbs a::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -23px;

  width: 22px;
  height: 40px;

  background: url(../img/icon/right-small.svg) no-repeat 0 0;
}a.home::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -18px;

  width: 15px;
  height: 12px;

  background: url(../img/icon/home.svg) no-repeat 0 0;
}a.home:focus::after {
  outline: 1px solid #ee3643;
}.breadcrumbs .home::before {
  display: none;
}.intro {
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 28px;

  font-family: "Cuprum","Arial",sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}.container-catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}.filters {
  width: 220px;
  margin-right: 20px;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}.title-blocks {
  margin: 0;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;

  font-family: "PT Sans","Arial",sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background: #f7f3ec;
}.price-range {
  position: relative;

  width: 220px;
  height: 80px;
  margin-bottom: 9px;

  background-color: #f7f3ec;
  border-radius: 3px;
}.toggle-left {
  position: absolute;
  top: 32px;
  left: 20px;
  z-index: 1;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.35);
          box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.35);
  cursor: pointer;
}.toggle-left::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 13px;

  width: 120px;
  height: 2px;

  background-color: #00ca74;
}.toggle-right {
  position: absolute;
  top: 32px;
  right: 40px;
  z-index: 1;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.35);
          box-shadow: 2px 2px 3px 0 rgba(0,0,0,0.35);
  cursor: pointer;
}.toggle-right::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 13px;

  width: 20px;
  height: 2px;

  background-color: #d7dcde;
}.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 220px;
  margin-bottom: 17px;
}.min-price input,
.max-price input {
  width: 95px;

  font-family: "PT Sans","Arial",sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;

  background-color: #f7f3ec;
  border: 0;
}.min-price,
.max-price {
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #f7f3ec;
  border-radius: 3px;
}.min-price {
  position: relative;
}.min-price::before {
  content: "";
  position: absolute;
  top: 21px;
  right: -20px;

  width: 10px;
  height: 1px;

  background-color: #444444;
}.item-filters {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  border: 0;
}.title-filters {
  position: relative;

  margin-bottom: 14px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}.title-filters::before {
  content: "";
  position: absolute;
  top: -17px;

  width: 220px;
  height: 1px;

  background-color: #e5e5e5;
}.item-filters:first-of-type .title-filters::before {
  display: none;
}.filters-list {
  margin: 0;
  padding: 0;
  padding-left: 35px;

  list-style-type: none;
}.filters-list li {
  margin-bottom: 19px;
}.brands-item + .brands-filters {
  position: relative;

  cursor: pointer;
}.brands-item + .brands-filters::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;

  width: 23px;
  height: 23px;

  background: url(../img/icon/checkbox-off.svg);
  opacity: 0.7;
}.brands-item:hover + .brands-filters::before {
  opacity: 1;
}.brands-item:focus + .brands-filters::before {
  opacity: 1;
}.brands-item:disabled + .brands-filters::before {
  color: #999999;

  opacity: 0.4;
}.brands-item:checked + .brands-filters::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;

  width: 27px;
  height: 23px;

  background: url(../img/icon/checkbox-on.svg);
  opacity: 0.7;
}.brands-item:checked:hover + .brands-filters::after,
.brands-item:checked:focus + .brands-filters::after {
  opacity: 1;
}.brands-item:checked + .brands-filters::before {
  display: none;
}.brands-item:disabled + .brands-filters {
  color: #999999;

  cursor: auto;
}.brands-item:checked:disabled + .brands-filters::after {
  opacity: 0.4;
}.power-supply + .supply {
  position: relative;

  cursor: pointer;
}.power-supply + .supply::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -36px;

  width: 25px;
  height: 25px;

  background: url(../img/icon/radio-off.svg);
  opacity: 0.7;
}.power-supply:checked:hover + .supply::before {
  opacity: 1;
}.power-supply:checked + .supply::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -28px;

  width: 9px;
  height: 9px;

  background-color: #b5b5b5;
  border-radius: 50%;
  opacity: 0.7;
}.power-supply:checked:hover + .supply::after,
.power-supply:hover + .supply::before {
  opacity: 1;
}.power-supply:checked:focus + .supply::after,
.power-supply:focus + .supply::before,
.power-supply:checked:focus + .supply::before {
  opacity: 1;
}.power-supply:disabled + .supply {
  color: #999999;

  cursor: auto;
}.power-supply:disabled + .supply::before,
.power-supply:checked:disabled + .supply::before,
.power-supply:disabled + .supply::after,
.power-supply:checked:disabled + .supply::after {
  opacity: 0.4;
}.item-filters:last-of-type {
  margin-bottom: 58px;
}.filters-list li {
  outline: 0;
}.filters .button-filters {
  padding: 10px 38px;

  font-family: "PT Sans","Arial",sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  background: #ffffff;
  border: 1px solid #e5e5e5;
  cursor: pointer;
}.button-filters:hover,
.button-filters:focus {
  border-color: #b5b5b5;
}.filters .button-filters:active {
  color: #c1c6ce;

  border-color: #c1c6ce;
}.catalog {
  width: 700px;
}.sorting-wrapper {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 700px;
  margin-bottom: 21px;

  background-color: #f7f3ec;
  border-radius: 3px;
}.sorting-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 401px;
}.sorting-wrapper .title-blocks {
  margin-right: 140px;
  margin-bottom: 0;
}.sort-selection {
  margin-right: 69px;

  color: #b2b2b2;
  text-transform: uppercase;

  border-bottom: 1px dotted #ee3643;
  cursor: pointer;
}.sorting-wrapper label:nth-of-type(3) {
  margin-right: 44px;
}.sorting-filter input:checked + .sort-selection,
.sorting-filter input:checked:hover + .sort-selection,
.sorting-filter input:checked:focus + .sort-selection {
  color: #ee3643;

  border-bottom: none;
}.sorting-filter label:hover,
.sorting-filter label:focus {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}.arrow-up {
  margin-top: 3px;
  margin-right: 21px;
}.arrow-down {
  margin-top: 3px;
}.arrow-up:hover path,
.arrow-up:focus path,
.arrow-down:hover path,
.arrow-down:focus path {
  fill: #231f20;
}.arrow-up:active path,
.arrow-down:active path {
  fill: #ee3643;
}.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;

  list-style-type: none;
}.catalog-item {
  position: relative;

  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;

  text-align: center;

  border: 1px solid #e5e5e5;
}.catalog-item:hover,
.catalog-item:focus {
  -webkit-box-shadow: 0 10px 25px 0 rgba(0,0,0,0.5);
          box-shadow: 0 10px 25px 0 rgba(0,0,0,0.5);
}.catalog-item:nth-child(3n) {
  margin-right: 0;
}.catalog-item span:before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 59px;

  background: url(../img/new-flag.png) no-repeat 0 0;
}.catalog-item img {
  width: 218px;
  height: 170px;
  margin-bottom: 4px;
}.title-item {
  min-height: 40px;
  margin: 0;
  margin-bottom: 11px;
  padding: 0 25px;

  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}.catalog-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
}.item-old-price {
  min-height: 20px;
  margin-bottom: 8px;

  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-decoration: line-through;
}.item-new-price {
  position: relative;

  margin-right: 12px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 9px;
  padding-left: 37px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background: #ee3643;
  border-radius: 3px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}.item-new-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -17px;

  border: 18px solid #ee3643;
  border-top-color: transparent;
  border-right-width: 0;
  border-bottom-color: transparent;
  border-left-color: #ee3643;
}.buttons-item-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  width: 218px;
  height: 88px;
  padding: 40px 0;

  background-color: #ffffff;
}.buttons-item-popup {
  display: none;
}.catalog-item:hover .buttons-item-popup,
.catalog-item:focus .buttons-item-popup {
  display: block;
}.button-item-buy,
.button-item-bookmarks {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;

  font-family: "Cuprum","Arial",sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius: 3px;
}.button-item-buy {
  position: relative;
}.button-item-buy::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 12px;

  width: 15px;
  height: 15px;

  background: url(../img/icon/cart.svg);
  opacity: 0.3;
}.button-item-buy:hover,
.button-item-buy:focus {
  background: #5fbb2d;
}.button-item-buy:active {
  background: #518534;
}.button-item-buy:hover::before,
.button-item-buy:focus::before,
.button-item-buy:active::before {
  opacity: 1;
}.button-item-bookmarks {
  color: #32425c;

  background: #ffffff;
  border-bottom-color: #63a63e;
}.button-item-bookmarks:hover,
.button-item-bookmarks:focus {
  border: 3px solid #32425c;
}.button-item-bookmarks:active {
  color: #c1c6ce;

  border: 3px solid #c1c6ce;
}.pages-catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}.pages-catalog a {
  display: block;
  padding: 10px 15px;

  text-align: center;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}.pages-catalog .next-page {
  width: 104px;
}.pages-catalog li {
  margin-right: 10px;
}.pages-catalog .page-active,
.pages-catalog .page-active:hover {
  color: #ffffff;

  background-color: #ee3643;
  border: 1px solid #ee3643;
}.pages-catalog a:hover,
.pages-catalog a:focus {
  border: 1px solid #bdc6ca;
}.pages-catalog a:active {
  border: 1px solid #ee3643;
}.product-definition {
  width: 100%;

  background-color: #f2f6f8;
}.definition-title {
  margin: 0;
  padding-top: 64px;
  padding-bottom: 26px;

  font-family: "Cuprum","Arial",sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}.product-definition p {
  margin: 0;
  padding-bottom: 68px;

  font-family: "PT Sans","Arial",sans-serif;
  font-size: 13px;
  line-height: 24px;
}.button {
  padding: 10px 20px;

  font-family: "Cuprum","Arial",sans-serif;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}.button:hover,
.button:focus {
  background: #ca2c37;
}.button:active {
  background: #ba2732;
}.main-footer {
  font-family: "Cuprum","Arial",sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background: #32425c;
}.main-footer-wrapper {
  width: 100%;

  background: #32425c;
}.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 48px;
}.main-logo-footer {
  width: 220px;
  height: 68px;
}.logo-contacts {
  width: 380px;
  margin-right: 10px;
}.address-footer {
  margin-top: 20px;
  margin-left: 3px;

  font-style: normal;
  white-space: nowrap;
}.number-phone-footer {
  margin-left: 3px;
}.navigation-footer {
  width: 550px;
}.site-navigation-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 38px;
  padding: 0;

  list-style-type: none;
}.site-navigation-footer li {
  margin-left: 59px;
}.site-navigation-footer li:first-child {
  margin-left: 0;
}.site-navigation-footer a:hover,
.site-navigation-footer a:focus {
  text-decoration: underline;
}.site-navigation-footer a:active {
  color: #8a939f;
}.navigation-features-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 33px;
  margin-left: 26px;
  padding: 0;

  list-style-type: none;
  color: #ffd180;
}.navigation-features-footer li {
  margin-left: 59px;
}.navigation-features-footer li:first-child {
  margin-left: 0;
}.navigation-features-footer a:hover,
.navigation-features-footer a:focus {
  text-decoration: underline;
}.navigation-features-footer a:active {
  color: #ad956f;
}.footer-copyright-wrapper {
  width: 100%;

  background: #293449;
}.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 39px;
  padding-bottom: 30px;

  font-size: 16px;
  line-height: 18px;

  background: #293449;
}.copyright {
  width: 270px;
  margin: 0;
  margin-right: 10px;
}.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 131px;
  margin: 0;
  margin-right: 10px;
  padding: 0;

  list-style-type: none;
}.footer-social li {
  margin-right: 5px;
  margin-bottom: 5px;
}.footer-social li:nth-child(3n) {
  margin-right: 0;
}.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: #212a3a;
  border-radius: 50%;
}.social-button:hover,
.social-button:active,
.social-button:focus {
  background-color: #ee3643;
}.footer-copyright-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 284px;
  margin-right: 15px;
}.copyright-link {
  margin: 0;
}.link-footer {
  color: #ffd180;
}.link-footer:hover,
.link-footer:focus {
  text-decoration: underline;
}.link-footer:active {
  color: #ee3643;
}.modal {
  position: fixed;

  display: none;
}@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}@keyframes zoom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}@-webkit-keyframes shake {
  0%,
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}@keyframes shake {
  0%,
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}.modal-active {
  display: block;

  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}.modal-map {
  top: 50%;
  left: 50%;
  z-index: 10;

  width: 940px;
  height: 446px;
  margin-top: -281px;
  margin-left: -470px;

  -webkit-box-shadow: 0 0 14.72px 1.28px rgba(47,42,43,0.5);
          box-shadow: 0 0 14.72px 1.28px rgba(47,42,43,0.5);
}.modal-map iframe {
  border: 0;
}.button-close {
  position: absolute;
  top: 7px;
  right: 8px;

  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}.button-close::before,
.button-close::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 7px;

  width: 4px;
  height: 28px;

  background-color: #ee3643;
  border-radius: 3px;
}.button-close::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}.button-close::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}.modal-map p {
  margin: 0;
}.modal-login,
.modal-buy {
  top: 120px;
  left: 50%;
  z-index: 20;

  width: 620px;
  margin-left: -310px;

  font-size: 18px;
  line-height: 18px;

  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
          box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
}.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 46px;
  padding-right: 80px;
  padding-left: 80px;
}.modal-form {
  width: 220px;
  margin-bottom: 21px;
}.login,
.email {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  margin-top: 9px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;

  font-family: "PT Sans","Arial",sans-serif;
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #dee3e4;
  border-radius: 3px;
}.login::-webkit-input-placeholder,
.email::-webkit-input-placeholder,
.comment::-webkit-input-placeholder {
  color: #a9a9a9;
}.login:-ms-input-placeholder,
.email:-ms-input-placeholder,
.comment:-ms-input-placeholder {
  color: #a9a9a9;
}.login::-ms-input-placeholder,
.email::-ms-input-placeholder,
.comment::-ms-input-placeholder {
  color: #a9a9a9;
}.login::placeholder,
.email::placeholder,
.comment::placeholder {
  color: #a9a9a9;
}.modal-form:first-child {
  margin-right: 20px;
}.user-info .modal-form:nth-child(3) {
  width: 460px;
  margin-bottom: 37px;
}.comment {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-top: 9px;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 14px;

  font-family: "PT Sans","Arial",sans-serif;
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #dee3e4;
  border-radius: 3px;

  resize: none;
}.modal-button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 35px 80px;

  background-color: #f4f4f4;
}.button-send {
  width: 460px;
}.modal-title {
  position: relative;

  margin: 0;
  padding-top: 65px;
  padding-bottom: 71px;
  padding-left: 180px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
}.modal-title::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 81px;

  width: 66px;
  height: 66px;

  background: url(../img/icon/mark.svg);
}.button-checkout {
  display: block;
  width: 180px;
  margin-right: 20px;
}.button-continue {
  width: 220px;
  padding: 10px 20px;

  font-family: "Cuprum","Arial",sans-serif;
  font-size: 14px;
  line-height: 18px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}.button-continue:active {
  color: #c1c6ce;
}
